html {
  font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
  font-size: 16px;
}

li, p {
  max-width: 500px;
}

body {
  display: flexbox;
}

.title {
  background-color: #001f3f;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
}

.title img {
  max-height: 100px;
  max-width: 100px;
}

.title h1 {
  color: #01FF70;
  text-align: center;
  margin: 0 auto ;
}

.frogntitle {
  height: 100px;
  display: inline-flex;
  align-items: center;
}

nav {
  background-color: black;
  height: 30px;
  padding-top: 10px;
}

nav p {
  display: inline;
  padding-left: 35px;
  
}
nav p a {
  color: white;
}

article img {
  max-width: 300px;
  height: 108px;
  margin-left: 50px;
  z-index: 1;
  border: #111111 solid 3px;
  display: inline-block;
}
section {
  max-width: 500px;
  margin: 30px auto;
}

.jellywTags ul {
  display: inline-block;	
  position: relative;
  bottom: 24px;
}

.jellywTags ul li {
  font-size: 1rem;
  padding-top: 5px;
}

article h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  border: 3px solid black;
  margin: 0 0;
}

.css h2 {
  background-color: cyan;
}

.css li {
  margin: 4px 0;
}