.title {
  width: 100%;
  background-color: #001f3f;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
}

.title img {
  height: 100px;
  width: 100px;
  position: absolute;
}

.title h1 {
  color: #01FF70;
  text-align: center;
  height: 60px;
  padding-top: 30px;
}

article img {
  width: 300px;
  height: 100px;
  padding-left: 50px;
  opacity: 0.9;
  z-index: 1;
}
article {
  z-index: 2;
}

.jellywTags {
  display: inline-flex;
}

nav {
  background-color: black;
  height: 30px;
  padding-top: 10px;
}

nav p {
  display: inline;
  padding-left: 35px;
  
}
nav p a {
  color: white;
}

article h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  border: 3px solid black;
  margin: 0 0;
}

.css h2 {
  background-color: cyan;
}

.css li {
  margin: 4px 0;
}